footer {
    padding: 2.5rem 0;
    color: #575757;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: bold;
    margin: 0;
}

.bg-dark {
    background-color: #343a40!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5cb85c;
    font-weight: bold;
}

.card-body>button.btn.btn-link{
    color: #0950BE;
}

img {
    max-height: 100%;
    max-width: 100%;
}

button {
    cursor: pointer;
}
#news>.card{
    padding: 15px;
}

#install-botton{
    display: none;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-style: none;
}
